In [4]:
# import libarary
import pandas as pd

In [19]:
# Initialize list for school IDs
school_id = []

    # Add 1 - 14 to list
for i in range(1,15):
    school_id.append(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [35]:
# Initialize Panda dataframe
schools_df = pd.DataFrame( {
    
    "School ID": [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],
    
    "school_name": ["Huang High School",
                    "Figueroa High School",
                    "Shelton High School",
                    "Hernandez High School",
                    "Griffin High School",
                    "Wilson High School",
                    "Cabrera High School",
                    "Bailey High School",
                    "Holden High School",
                    "Pena High School",
                    "Wright High School",
                    "Rodriguez High School",
                    "Johnson High School",
                    "Ford High School",
                    "Thomas High School"],
    
    "type": ["District",
             "District",
             "Charter",
             "District",
             "Charter",
             "Charter",
             "Charter",
             "District",
             "Charter",
             "Charter",
             "Charter",
             "District",
             "District",
             "District",
             "Charter"]
} )

# Print DF
schools_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter